<ion-header>
  <ion-toolbar>
    <ion-button color="primary" (click)="navigatePage()">Atrás</ion-button>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]=dataUser.image>
  <ion-card class="card">
  <ion-card-header>
    <ion-title id="title">{{dataUser.first_name}}</ion-title>
    </ion-card-header>
 <ion-card-content>
   <p>{{dataUser.last_name}}</p>
   <p>{{dataUser.mail}}</p>
   <p *ngIf="dataUser.gender =='Polygender'">{{dataUser.gender}}</p>
 </ion-card-content>
  </ion-card>
</ion-content>
